node_modules
project/project
project/target
target
tmp
.history
/.idea
/.bsp
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
Thumbs.db
app/models/generated
public/media
conf/local.conf
*.sc
*.orig
/src/main/resources/local.conf
scalastyle-config.xml
.scalafmt.conf
